<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title PhotoView
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/lightbox.css")
		link(rel="stylesheet", href="assets/css/slick.css")
		link(rel="stylesheet", href="assets/css/slick-theme.css")
		link(rel="stylesheet", href="assets/css/style.css")
	body

	header
		.container
			.control-header
				a(href="/").logo
					i.fas.fa-camera-retro
			
				.menu.d-md-none
					.btn-menu
						.span
						.span
						.span
						.span
						.span
						.span


				.menu-nav
					ul
						li
							a(href="") Home
						li
							a(href="") About
						li
							a(href="") Portfolio
						li
							a(href="") Contact
						li
							a(href="") Gallery


	main
		//- section#photoHero
		//- 	#carouselExampleIndicators.carousel.slide(data-ride="carousel")
		//- 		//- ol.carousel-indicators
		//- 		//- 	li(data-target="#carouselExampleIndicators" data-slide-to="0").active
		//- 		//- 	li(data-target="#carouselExampleIndicators" data-slide-to="1")
		//- 		//- 	li(data-target="#carouselExampleIndicators" data-slide-to="2")

		//- 		.carousel-inner
		//- 			.carousel-item.active(style="background-image: url(assets/img/image14.jpg)")
		//- 				.carousel-caption
		//- 					.container
		//- 						.hero-content
		//- 							h1 Main Title
		//- 							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
		//- 							button.button-text View More

		//- 							ol.carousel-indicators
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="0").active
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="1")
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="2")
					
		//- 			.carousel-item(style="background-image: url(assets/img/image15.jpg)")
		//- 				.carousel-caption
		//- 					.container
		//- 						.hero-content
		//- 							h1 Main Title 1
		//- 							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
		//- 							button.button-text View More

		//- 							ol.carousel-indicators
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="0")
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="1").active
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="2")
					
		//- 			.carousel-item(style="background-image: url(assets/img/image16.jpg)")
		//- 				.carousel-caption
		//- 					.container
		//- 						.hero-content
		//- 							h1 Main Title 2
		//- 							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
		//- 							button.button-text View More

		//- 							ol.carousel-indicators
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="0")
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="1")
		//- 								li(data-target="#carouselExampleIndicators" data-slide-to="2").active


		section#hero
			
			.hero-slide
				.slide.slide1(style="background-image: url(assets/img/image14.jpg)")
					.hero-content
						.container
							h1 Main Title
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
							button.button-text View More
					.hero-overlay

				.slide.slide2(style="background-image: url(assets/img/image15.jpg)")
					.hero-content
						.container
							h1 Main Title
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
							button.button-text View More

				.slide.slide3(style="background-image: url(assets/img/image16.jpg)")
					.hero-content
						.container
							h1 Main Title
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam perspiciatis molestiae eos voluptates sunt quidem fuga laborum. Officiis deleniti eos aperiam laudantium alias dolorum quasi voluptatem nisi perspiciatis maxime!
							button.button-text View More

				



		section#portfolio.wrapper
			.container
				h2 PORTFOLIO
				P.section-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla quaerat exercitationem. Aliquid omnis ex minus placeat commodi, odit vel voluptates, deserunt beatae dignissimos saepe accusantium.
				

				.row-section
					.video-column
						.video(id="https://www.youtube.com/embed/BAiN4Wyf_KY")
							<iframe  src="https://www.youtube.com/embed/BAiN4Wyf_KY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle
					
					.video-column
						.video(id="https://www.youtube.com/embed/u9prcUCHlqM")
							<iframe  src="https://www.youtube.com/embed/u9prcUCHlqM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle
					
					.video-column
						.video(id="https://www.youtube.com/embed/6_B8pVoANyY")
							<iframe  src="https://www.youtube.com/embed/6_B8pVoANyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle

					.video-column
						.video(id="https://www.youtube.com/embed/PW8tr4j1ZWE")
							<iframe  src="https://www.youtube.com/embed/PW8tr4j1ZWE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle
					
					.video-column
						.video(id="https://www.youtube.com/embed/YZPuc3HV5O8")
							<iframe  src="https://www.youtube.com/embed/YZPuc3HV5O8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle
					
					.video-column
						.video(id="https://www.youtube.com/embed/fXiU-fObCew")
							<iframe  src="https://www.youtube.com/embed/fXiU-fObCew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							.icon-play
								i.far.fa-play-circle

							
		section#photo-landing-page.wrapper(style="background-image: url(assets/img/bg-camera.jpg)").cover-img
			.container
				.row 
					.col-md-5.offset-md-2
						h2 Section Title
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus natus expedita iusto, molestias ad assumenda nulla, accusantium fugiat at voluptatem reiciendis soluta corporis. Illo magni repellendus quas placeat maxime porro!
						button.button-text View More


		section#photo-tutorial.wrapper
			.container
				h2 Tutorial
				p.section-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio quibusdam cum itaque assumenda quidem officiis aliquid nulla, illum voluptate, nesciunt!

				.row 
					.col-md-8.offset-md-2.col-sm-12.offset-md-0
						.video-tutorial-content
							.video-tutorial
								<iframe src="https://www.youtube.com/embed/Zrybo9Pt7ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							//- a(href="#").play-tutorial
							//- 	i.far.fa-play-circle


		section#photo-gallery.wrapper
			.container
				h2 Tutorial
				p.section-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio quibusdam cum itaque assumenda quidem officiis aliquid nulla, illum voluptate, nesciunt!

				.gallery-row
					.gallery-col
						a(href="assets/img/1.jpg" data-lightbox="image1").image-content
							img(src="assets/img/1.jpg", alt="")

					.gallery-col
						a(href="assets/img/6.jpg" data-lightbox="image1").image-content
							img(src="assets/img/6.jpg", alt="")
					
					.gallery-col
						a(href="assets/img/3.jpg" data-lightbox="image1").image-content
							img(src="assets/img/3.jpg", alt="")

					.gallery-col
						a(href="assets/img/4.jpg" data-lightbox="image1").image-content
							img(src="assets/img/4.jpg", alt="")
					
					.gallery-col
						a(href="assets/img/5.jpg" data-lightbox="image1").image-content
							img(src="assets/img/5.jpg", alt="")


		section#photo-landing-page.wrapper(style="background-image: url(assets/img/bg-camera2.jpg)").cover-img
			.container
				.row 
					.col-md-5.offset-md-2
						h2 Section Title
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus natus expedita iusto, molestias ad assumenda nulla, accusantium fugiat at voluptatem reiciendis soluta corporis. Illo magni repellendus quas placeat maxime porro!
						button.button-text View More


		section#photo-tutorial.wrapper
			.container
				h2 Tutorial
				p.section-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio quibusdam cum itaque assumenda quidem officiis aliquid nulla, illum voluptate, nesciunt!

				.row 
					.col-md-8.offset-md-2.col-sm-12.offset-md-0
						.video-tutorial-content
							.video-tutorial
								<iframe src="https://www.youtube.com/embed/Zrybo9Pt7ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							//- a(href="#").play-tutorial
							//- 	i.far.fa-play-circle


		section#photo-gallery.wrapper
			.container
				h2 Tutorial
				p.section-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio quibusdam cum itaque assumenda quidem officiis aliquid nulla, illum voluptate, nesciunt!

				.gallery-row
					.gallery-col
						a(href="assets/img/1.jpg" data-lightbox="image1").image-content
							img(src="assets/img/1.jpg", alt="")

					.gallery-col
						a(href="assets/img/6.jpg" data-lightbox="image1").image-content
							img(src="assets/img/6.jpg", alt="")
					
					.gallery-col
						a(href="assets/img/3.jpg" data-lightbox="image1").image-content
							img(src="assets/img/3.jpg", alt="")

					.gallery-col
						a(href="assets/img/4.jpg" data-lightbox="image1").image-content
							img(src="assets/img/4.jpg", alt="")
					
					.gallery-col
						a(href="assets/img/5.jpg" data-lightbox="image1").image-content
							img(src="assets/img/5.jpg", alt="")


	footer
		.container
			.row
				.col-md-3
					.widget-menu
						h3 Main Menu
						
						.list-menu
							ul 
								li
									a(href="") Home
								
								li
									a(href="") About
								
								li
									a(href="") Portfolio
								
								li
									a(href="") Contact
								
								li
									a(href="") Gallery

				.col-md-5.offset-md-1
					.widget-gallery
						h3 	Galleries

						.gallery-content
							a(href="").cover-image
								img(src="assets/img/10.jpg", alt="")
							.gallery-description
								a(href="").name Gallery name
								p Category
								p 15

						.gallery-content
							a(href="").cover-image
								img(src="assets/img/9.jpg", alt="")
							.gallery-description
								a(href="").name Gallery name
								p Category
								p 9

				.col-md-3
					.widget-icons
						h3 Socials

						a(href="").icon-content
							i.fab.fa-facebook
							p Facebook

						a(href="").icon-content
							i.fab.fa-instagram
							p Instagram
						
						a(href="").icon-content
							i.fab.fa-twitter
							p Twitter
					
						a(href="").icon-content
							i.fab.fa-youtube
							p Youtube





	//- ========== Modal
	.modal-video#video2
		.modal-container
			.video-modal
				<iframe id="yt-video-id" src="" frameborder="0" autoplay allow="autoplay" height="100%" allowfullscreen></iframe>
			.video-title
				h3 Video Title

		.close-modal
			p x
	


	script(src="assets/js/jquery.min.js")
	script(src="assets/js/jquery-ui.min.js")
	script(src="assets/js/lightbox.js")
	script(src="assets/js/slick.js")
	script(src="assets/js/bootstrap.bundle.min.js")
	script(src="assets/js/font-awesome-all.js")
	script(src="assets/js/script.js")